input[type="radio"] + .agree, input[type="radio"] + .disagree {
    background: #adabab;
    color: #adabab;
    text-decoration: line-through;
    transition: 500ms;
    padding: 5px 15px;
    border-radius: 4px;
}

input[type="radio"]:checked + .agree {
    background: #13af34;
    text-decoration: none;
    color: white;
}
input[type="radio"]:checked + .disagree {
    text-decoration: none;
    background: #e11010;
    color: white;
}
.form-check-input {
    padding: 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}
